/* Base Application Styles */
html{
  font-size: 100px;
}
body {
  font-size: 16px;
  color: #fff;
  background: #222;
}

*{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}

.absolute-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
