.carousel{
  justify-content: center;
  position: relative;
}

.wrapper{
  position: relative;
  width: 730px;
  height: 336px;
  overflow: hidden;
}
.sliders{
  position: absolute;
  height: 336px;
}
.slider{
  float: left;
  width: 730px;
  height: 336px;
}
.slider img{
  width: 100%;
  height: 100%;
}

/*左右箭头的样式*/
/*.arrows{*/
  /*!*position: absolute;*!*/
  /*!*top: 2.5rem;*!*/
/*}*/
.arrow{
  position: absolute;
  top: 2.5rem;
  width: .37rem;
  height: .63rem;
  line-height: .55rem;
  text-align: center;
  font-size: .5rem;
  cursor: pointer;
}
.arrow:hover{
  background-color: #cbcbcb;
}

.arrow-left{
  left: 5%;
}
.arrow-right{
  right: 5%;
}

/*小点点的样式*/
.dots{
  position: absolute;
  bottom: .1rem;
  width: 100%;
  height: .2rem;
  line-height: .2rem;
  text-align: center;
}

.dot{
  display: inline-block;
  width: .07rem;
  height: .07rem;
  margin: 0 .1rem;
  border-radius: 50%;
  background-color: #ccc;
}

/*小点点激活过后的样式*/
.dot.active{
  background-color: #ba0b0b;
}

/*下载的样式*/
.download{
  display: block;
  margin: 2.12rem 0 0 .19rem;
  width: 2.15rem;
  height: .56rem;
  background: url("../images/download.png") no-repeat 0 99.99rem;
}

.download:hover{
  background: url("../images/download.png") no-repeat .01rem -3.4rem;
}

.content-d{
  position: relative;
  display: block;
  width: 2.54rem;
  height: 3.36rem;
  background: url("../images/download.png") no-repeat 0 0;
}
.content-d span{
  position: absolute;bottom: .3rem;
  color: #8d8d8d;
  font-size: .12rem;
  width: 100%;
  text-align: center;
}
