
.content-content{
  display: flex;
  justify-content: center;
}

/*左边模块的样式*/
/*左边的模块包括热门推荐，个性化推荐，新碟上架，榜单*/
.content-left{
  padding: .2rem .2rem .4rem .2rem;
  width: 6.89rem;
  background-color: #fff;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

/*右边模块的样式*/
/*右边模块包括登陆，入驻歌手，热门主播*/
.content-right{
  width: 2.52rem;
  height: auto;
  font-size: .12rem;
  background-color: #fff;
  border-right: 1px solid #d3d3d3;
}

/*登陆-个人信息*/
.my-info{
  padding: .22rem;
  background: linear-gradient(to bottom, #fcfcfc 0%, #e2e2e2 100%) ;
}
.my-info span{
  font-size: .12rem;
  color: #666;
}
/*登陆按钮的样式*/
.my-info div{
  margin: .1rem auto;
  width: 1rem;
  height: .31rem;
  cursor: pointer;
  color: #f5f5f5;
  font-size: .12rem;
  line-height: .31rem;
  text-align: center;
  border-radius: .05rem;
  background: linear-gradient(to bottom, #e2171f 0%, #bb060b 100%) ;
}
.my-info div:hover{
  background-color: #c20c0c;
}

/*入驻歌手部分头部布局*/
.c-singer-title{
  padding: .15rem .15rem .1rem .15rem;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  /*border-bottom: 1px solid #d3d3d3;*/
}
.c-singer-title .right{
  color: #666;
}
.c-singer-title .left{
  font-weight: bold;
}

/*入驻歌手信息部分*/
.c-singer-list{
  padding-top: .05rem;
  margin: 0 .15rem;
  border-top: 1px solid #e9e9e9;
}
.c-singer{
  margin: .1rem 0;
  cursor: pointer;
  border: 1px solid #e9e9e9;
  background: #fafafa;
}
.c-singer:hover{
  background-color: #f4f4f4;
}
/*左边的样式*/
.c-singer .left{
  width: .62rem;
  height: .62rem;
}
.c-singer .left div{
  width: 100%;
  height: 100%;
}

/*右边的样式*/
.c-singer .right{
  padding-left: .14rem;

}
.c-singer .right .name{
  padding: .1rem 0;
  font-weight: bold;
  font-size: .16rem;
}
.c-singer .right .babel{
  color: #666;
}

/*申请成为网易红人按钮样式*/
.btn-1{
  margin-left: .25rem;
  width: 2.05rem;
  height: .31rem;
  border-radius: .05rem;
  border: 1px solid #d3d3d3;
  background: linear-gradient(to bottom, #fefefe 0%, #f1f1f1 100%) ;
}
.btn-1 a{
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: .31rem;
  font-weight: bold;
  color: #2b2b2b;
}

/*热门dj的样式*/
/*头部样式*/
.c-dj-title{
  padding: .15rem .15rem .1rem .15rem;
  box-sizing: content-box;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.c-dj-list{
  padding-top: .05rem;
  margin: 0 .15rem;
  border-top: 1px solid #e9e9e9;
}
.c-dj{
  margin: .1rem 0;
  /*border: 1px solid #e9e9e9;*/
  /*background: #fafafa;*/
}
/*左边样式*/
.c-dj .left{
  width: .4rem;
  height: .4rem;
}
.c-dj .left div{
  width: 100%;
  height: 100%;
}

/*右边样式*/
.c-dj .right{
  padding-left: .14rem;
}
.c-dj .right .name{
  margin-bottom: .02rem;
  height: .2rem;
  line-height: .22rem;
  display: flex;
  align-items: center;
}
.c-dj .right .name span{
  display: inline-block;
  background: url("../images/icon.png") no-repeat 0 0;
  width: .11rem;
  height: .13rem;
}


/*下面是热门推荐样式*/
/*首先是头部样式*/
.rmtj-title{
  display: flex;
  justify-content: space-between;
  background: url("../images/index.png") no-repeat;
  height: .33rem;
  padding: 0 .1rem  0 .34rem;
  background-position: -225px -156px;
  border-bottom: 2px solid #C10D0C;
}
.title-rmtj{
  font-size: .2rem;
  font-weight: normal;
  line-height: .28rem;
  color: #333;
}
.sort-list{
  display: flex;
}

.rmtj-title .sort{
  margin: 0 .07rem;
  height: .35rem;
  line-height: .32rem;
  color: #666;
  font-size: .12rem;
}

.rmtj-title span{
  margin: 0 .07rem;
  height: .35rem;
  line-height: .32rem;
  color:#ccc;
  font-size: .12rem;
}
.rmtj-title .sort:nth-child(2){
  margin-left: .2rem;
}

.rmtj-title .right a{
  height: .35rem;
  line-height: .32rem;
  color: #666;
  font-size: .12rem;
}
.rmtj-title .right span{
  margin-top: .12rem;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  vertical-align: middle;
  background: url("../images/index.png") no-repeat;
  background-position: 0 -240px;
}

.rmtj-list{
  display: flex;
  flex-wrap: wrap;
  width: 7.31rem;
}

/*这里是每个块块的样式*/
.rmtj-content{
  margin: .15rem .42rem .25rem 0;
  flex-direction: column;
  width: 1.4rem;

}
/*歌下面介绍的字体*/
.rmtj-content .right .babel{
  font-size: .14rem;
}
.rmtj-content a{
  margin-bottom: .05rem;
  display: flex;
  flex-direction: column-reverse;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid #d3d3d3;
}
.rmtj-bottom{
  padding:  0 .1rem;
  display: flex;
  justify-content: space-between;
  height: .27rem;
  line-height: .27rem;
  font-size: .12rem;
  color: #ccc;
  background: url("../images/coverall.png") no-repeat 0 -5.37rem;
}
.rmtj-content-num{
  margin-right: .05rem;
  display: inline-block;
  width: .14rem;
  height: .11rem;
  background: url("../images/iconall.png") no-repeat 0 -.24rem;
}

/*播放按钮样式*/
.rmtj-paly{
  cursor: pointer;
  margin-top: .05rem;
  width: .16rem;
  height: .17rem;
  background: url("../images/iconall.png") no-repeat 0 0;
}
.rmtj-paly:hover{
  background: url("../images/iconall.png") no-repeat 0 -.6rem;
}

/*个性推荐的样式（title直接copy上面的）（要是有网易的组件库多好压。。）*/
.gxtj-list{
  display: flex;
}

.gxtj-date{
  margin: .15rem .42rem .25rem 0;
  display: flex;
  flex-direction: column;
  width: 1.4rem;
}
.gxtj-date a{
  width: 1.4rem;
  height: 1.4rem;
  background: url("../images/date.png") no-repeat 0 0 ;
  display: flex;
  flex-direction: column;
}
.gxtj-date a .week{
  height: 33px;
  line-height: 33px;
  color: #fed9d9;
  font-size: 14px;
  text-shadow: 0 -1px #962626;
  text-align: center;
}
.gxtj-date a .day{
  width: 1.4rem;
  height: 1.07rem;
  line-height: 1.07rem;
  background: url("../images/date.png") 0 -1.5rem;
  font-size: .85rem;
  font-weight: 500;
  text-align: center;
  color: black;
}
.gxtj-1{
  margin: .05rem 0;
  color: #000;
  font-size: .14rem;
}
.gxtj-2{
  color: #999;
  font-size: .12rem;
}


/*下面是广告的样式*/
.ad{
  margin: .2rem 0;
  position: relative;
  height: .75rem;
  background: url("https://iadmat.nosdn.127.net/ad.bid.material_f2cf5b34c2bc49b284ce5c75a92ed25c?imageView&thumbnail=689x75&quality=100");
}
.ad-logo{
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: .24rem;
  height: .18rem;
  background: url("../images/short.png") no-repeat;
}

/*下面是新碟推荐的样式*/
.new-list{
  margin-top: .2rem;
  display: flex;
  height: 1.84rem;
  padding-left: .25rem;
  background: #f5f5f5;
  border: 1px solid #d3d3d3;
}
.cd{
  position: relative;
  margin: .2rem .12rem 0 0;
  width: 1.18rem;
  height: 1rem;
  background: url("../images/coverall.png") no-repeat 0 -5.7rem;
}
.cd:hover .play-btn{
  display: block;
}
.cd-img{
  width: 1rem;
  height: 1rem;
}
.cd .play-btn{
  position: absolute;right: .2rem;bottom: .05rem;
  cursor: pointer;
  width: .22rem;
  height: .22rem;
  background: url("../images/iconall.png") no-repeat 0 -.85rem;
  display: none;
}
.cd .play-btn:hover{
  background: url("../images/iconall.png") no-repeat 0 -1.1rem;
}

/*下面是榜单的样式*/
.rank-content{
  margin-top: .2rem;
  display: flex;
  height: 4.72rem;
  background: #f5f5f5;
  border: 1px solid #d3d3d3;
}
.rank-content .first,
.rank-content .second,
.rank-content .third{
  flex-grow: 1;
}

/*然后是标题样式*/
.first .title,
.second .title,
.third .title{
  padding: .2rem;
}

.second{
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}


.first .title .img{
  width: .8rem;
  height: .8rem;
  background: url("../images/coverall.png") no-repeat -1.45rem -.57rem;
}
.title .img  img{
  width: .8rem;
  height: .8rem;
}
.title div .play{
  margin-left:  .15rem;
  display: inline-block;
  width: .22rem;
  height: .22rem;
  background: url("../images/index.png") no-repeat -2.67rem -2.05rem;
}
.title div .play:hover{
  background: url("../images/index.png") no-repeat -2.67rem -2.35rem;
}


.title div .collect{
  margin-left:  .1rem;
  display: inline-block;
  width: .22rem;
  height: .22rem;
  background: url("../images/index.png") no-repeat -3rem -2.05rem;
}
.title div .collect:hover{
  background: url("../images/index.png") no-repeat -3rem -2.35rem;
}


.rank-title{
  margin: .15rem 0 .1rem .15rem;
  color: #333;
  font-size: .14rem;
  font-weight: bold;
}


.rank-list div{
  padding-left:  .25rem;
  height: .32rem;
  line-height: .32rem;
}
.rank-list div .index{
  display: inline-block;
  width: .2rem;
  margin-right: .2rem;
  text-align: center;

}
.rank-list:nth-child(odd){
  background: #e8e8e8;
}

.rank-bottom{
  display: flex;
  flex-direction: row-reverse;
}
.rank-bottom span{
  margin-right: .2rem;
  font-size: .12rem;
}
