/*下面是二级级nav的样式*/
.second-nav{
  background-color: #c20c0c;
  height: .35rem;
  min-width: 12rem;
  /*padding-left: 20%;*/
  justify-content: center;
  align-items: center;
}

.s-navbtn{
  margin: 0 .2rem;
  height: .2rem;
  display: flex;
  align-items: center;
  border-radius: .1rem;
}
.s-navbtn a{
  padding: .2rem;
  cursor: pointer;
  color: white;
  height: .2rem;
  line-height: .2rem;
  font-size: .12rem;
}

/*二级nav被点击过后的样式*/
.second-nav .active{
  background-color: #9b0909;
}
.second-nav .active a{
  color: white;
}

/*占位置，用来调整二级nav离左边的距离*/
.blank{
  opacity: 0;
}


.content{
  min-width: 12rem;
  background-color: #f5f5f5;
}
