/* Base Application Styles */
/*下面为重置样式的内容*/
html{
  font-size: 100px;
  background: #f2f2f2;

}
body {
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

ul,li{
  list-style: none;
}
/*flex的一些简单的组件*/
.flex{
  display: flex;
}

.absolute-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*占位置，用来调整二级nav离左边的距离*/
.blank{
  opacity: 0;
}

/*下面是一级nav的样式*/
.first-nav{
  justify-content: center;
  background-color: #242424;
  min-width: 12rem;
}

/*一级nav被点击过后的样式*/
.first-nav .active{
  background-color: #000;
}
.first-nav .active a{
  color: white;
}
.fnavbtn{
  position: relative;
  padding: 0 .2rem;
  height: .7rem;
  line-height: .7rem;

}
.fnavbtn:hover{
  background-color: #000;
}
.fnavbtn:hover .fnavbtn>a{
  color: white;
}
.fnavbtn a{
  display: block;
  height: 100%;
  color: #ccc;
  font-size: .14rem;
}

/*当一级nav选中时会有一个三角形*/
.nav-triangle{
  position: absolute;left:44%; bottom: 0;
  width: 0;height: 0;
  border: solid .06rem;
  border-color: transparent transparent #c20c0c transparent;
}

/*下载客户端模块里面的hotlogo*/
.fnavbtn-hot{
  position: absolute;top: .21rem;left: 1rem;
  width: .28rem;
  height: .19rem;
  background: url("../images/topbar.png");
  background-position: -190px 0;
}

/*nav左边的logo*/
.logo{
  padding: 0 .2rem 0 0;
}
.logo div{
  width: 1.6rem;
  height: .7rem;
  background: url("../images/topbar.png");
  background-position: 0 0;
}

/*nav的搜索input*/
.fnavbtn-search{
  position: relative;
  margin-left: .7rem;
  width: 1.58rem;
}
.fnavbtn-search input{
  width: 100%;
  height: .32rem;
  font-size: .12rem;
  padding-left: .3rem;
  border: none;
  border-radius: .13rem;
}

/*搜索那个小图标的样式*/
.fnavbtn-search .search-logo{
  position: absolute;top: .29rem;left: .08rem;
  background: url("../images/topbar.png");
  background-position: -.1rem  -1.08rem;
  width: .13rem ;
  height: .13rem;
  background-color: #999;
}

/*视频投稿样式*/
.fnavbtn-submit{
  display: flex;
}
.fnavbtn-submit a{
  margin-left: .2rem;
  padding-left: .33rem;
  font-size: .12rem;
  color: #ccc;
  width: .65rem;
  height: .32rem;
  line-height: .32rem;
  background: url("../images/topbar.png");
  background-position: 0  -1.4rem;
}
.fnavbtn-submit a:hover{
  color: white;
  background-position: -1rem  -1.4rem;
}

/*下面是一级nav登陆的样式*/
.fnavbtn-login{
  padding-right: .4rem;
  margin-left: .2rem;
  position: relative;
}
.fnavbtn-login a{
  color: #787878;
  font-size: .12rem;
}
.fnavbtn-login a span{
  position: absolute;right: 0;top: 45%;
  width: 0;
  height: 0;
  border: solid .06rem;
  border-color:  #787878 transparent transparent transparent;
}

.fnavbtn-login:hover .login-list{
  display: block;
}

.login-list{
  display: none;
  position: absolute;top: .6rem;left: -.45rem;
  width: 1.6rem;
  font-size: .12rem;
  color: #fafafa;
  background: #2b2b2b;
  border: 1px solid #202020;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.50);
  border-radius: 4px;
  z-index: 1000;
}
.login-list div{
  position: relative;
  padding-left: .4rem;
  cursor: pointer;
  color: #ccc;
  line-height: .39rem;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #242424;
}
.login-list div:hover{
  background-color: #353535;
  color: white;
}
.login-list div span{
  position: absolute;left: .1rem;top: .09rem;
  width: .18rem;
  height: .18rem;
}
.login-phone span{
  background: url("../images/toplist.png") no-repeat;
  background-position: 0 0;
}
.login-wechat span{
  background: url("../images/toplist.png") no-repeat;
  background-position: -.2rem -.2rem ;
}
.login-qq span{
  background: url("../images/toplist.png") no-repeat;
  background-position: -.2rem -.4rem ;
}
.login-sina span{
  background: url("../images/toplist.png") no-repeat;
  background-position: 0 -.2rem ;
}
.login-wangyi span{
  background: url("../images/toplist.png") no-repeat;
  background-position: 0 -.4rem;
}
